@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Roboto Slab", serif;
}

body {
    background-color: rgb(255, 255, 78);
}

#list-items {
    display: flex;
    gap: 70px;
}

#vanos-army {
    letter-spacing: 1.3px;
}

#vano-s {
    color: orange;
}

.fa-person-rifle {
    color: orange;
}

nav {
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 300;
    height: 65px;
    background-color: #1d1d1d;
    padding-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    z-index: 999;
    background-color: #222;
    width: 100%;
    margin-top: -200px;
}

ul {
    display: flex;
    justify-content: space-around;
}



#main-img {
    width: 500px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#main-img{
    border-radius: 50px;
    margin-right: -150px;
    width: 700px;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: floatImage 3s ease-in-out infinite;
    border: 2px dashed black;
}


/* animation for main image */
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0);
    }
}

a:hover {
    color: yellow;
}

#main {
    margin-top: 200px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#welcome-p {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#hello-p {
    font-size: 2.7rem;
    color: #222;
}

#vano-motiashvili {
    font-size: 3.5rem;
    color: #be3232;
    font-weight: 600;
    text-shadow: rgb(255, 187, 0) 4px 3px 4px;
}

#front-end-p {
    font-size: 2.3rem;
    color: #222;
    font-weight: 600;
    text-decoration: underline;
    text-underline-position: under;
}

#mentor-p {
    color: #222;
    font-size: 2.4rem;
    font-weight: 600;
}

#friend-p {
    font-size: 2.5rem;
    color: #fd1a1a;
    letter-spacing: 2px;
    text-shadow: rgb(255, 123, 0) 5px 3px 5px;
}

#why-join {
    height: 1000px;
    background-color: #fd1a1a;
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
}

#why-join ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.2rem;
    color: rgb(184, 184, 184);
}

.fa-star {
    color: yellow;
}

#main-info-p {
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: white;
    text-shadow: black 2px 2px 3px;
    font-weight: 700;
}

#why-join div {
    margin-top: 70px;
}

#info {
    width: 750px;
    padding: 100px;
    margin-left: 70px;
}

.info-span {
    color: white;
    letter-spacing: 1px;
}

.yellow-span {
    color: yellow;
}

#why-join-div p {
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: white;
    color: white;
    text-shadow: black 2px 2px 3px;
    font-weight: 700;
}

#why-join-div {
    padding: 100px;
    width: 800px;
    margin-right: 70px;
}

#why-join-div ol {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.2rem;
    color: rgb(184, 184, 184);
}

.info-num {
    color: yellow;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #222;
    padding: 1.3rem 25%;
    color: white;
}

footer a {
    color: white;
    margin-left: 15px;
    font-size: 1.3rem;
}

.footer-text p {
    font-size: 1.2rem;
}

#contact {
    font-size: 1.5rem;
    color: #222;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

a {
    color: white;
    transition: 0.5s;
}

#time {
    font-size: 3rem;
    letter-spacing: 2px;
}

#escape {
    font-size: 2rem;    
    font-weight: 700;
}

#wasting {
    color: red;
}

#contact-btn1 {
    padding: 5px 50px 5px 50px;
    font-size: 1.5rem;
    border-radius: 25px;
    border: 1px solid black;
    transition: 0.25s;
    color: white;
    background-color: #222;
}

#contact-btn1:hover {
    transform: scale(110%);
}

#matrix {
    color: rgb(20, 121, 20);
    font-size: 2.6rem;
    font-weight: 700;
}

#join {
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: 3px;
}

#now {
    color: rgb(255, 0, 0);
}